<h3>Hey there Avo lover</h3>

<p>Here is our top 5 Avo deals that we yhave picked just for you</p>

	<table>
		<tr>
			<th>Shop Name</th>
			<th>Price</th>
			<th>Qty</th>
		</tr>
		{{#each topFive}}
		<tr>
			<td>{{shop_name}}</td>
			<td>R{{price}}</td>
			<td>{{qty}}</td>
		</tr>
		{{/each}}
	</table>




<p>To add an Avo please click on the Add Avo below</p>
<a href="/add">Add Avo</a>
<br>

<p>To add a Store please click on the Add Shop below</p>
<a href="/createshop">Add Shop</a>

<br><br>

<h2>List of Shops</h2>
<table>
	<tr>
		<th>Shop name</th>
		
	</tr>
	{{#each list}}
	<tr>
		<td>{{name}}</td>
	</tr>
	{{/each}}
</table>